@media (max-width: 1005px) {
    .header .burger-wrapper {
        display: flex;
    }

    .menu-mid {
        display: none;
    }

    .logo_main-page {
        padding-top: 10px;
    }

    .header {
        width: 100%;
        justify-content: space-between;
    }

    .logo-cion {
        display: flex;
    }
}

@media (max-width: 940px) {
    .second_header_grid_block6 {
        grid-column-gap: 10px;
    }
}

@media (max-width: 915px) {
    .grid-block4-sec8-wrapped {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .block-text-and-anim-sec8 {
        flex-direction: column;
        align-items: center;
    }

    .gif-inv-track {
        width: 100%;
    }
}

@media (max-width: 894px) {
    .footer-text {
        font-size: calc(5px + 15 * (100vw / 1200));
        line-height: normal;

    }
}

@media (max-width: 850px) {
    .main_block-pg2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .img-pg2-block-1 {
        max-width: 100%;
        height: 100%;
    }

    .class_pack_anim-and-text {
        flex-direction: column;

    }

    .wrapped-description-sec7 {
        padding-left: 0px;
    }
}

@media (max-width: 785px) {
    .grid-team-conxt-sec7-blockfirs {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 737px) {
    .grid-block4-sec8-wrapped {
        grid-template-columns: 1fr 1fr 1fr;
    }
}


@media (max-width: 675px) {
    .block-decor {
        top: 43%;
    }

    .text_block4__pg3_4_stage {
        height: fit-content;
    }

    .second_header_grid_block6 {
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 20px;
    }

    .grid2-block9-sec8 {
        grid-column-gap: 10px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-row-gap: 30px;



    }
}

@media (max-width: 595px) {
    .grid-block-second-sec7-middle {
        grid-template-columns: 1fr 1fr;
    }

    .grid-team-conxt-sec7-blockfirs {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 575px) {
    .main_block-pg2 {
        grid-template-columns: 1fr;
    }

    .block2__pg2__text2 {
        height: fit-content;
    }

    .img-pg2-block-1 {
        padding-left: 15px;

    }

    .connext-logo-pg-block2 {
        width: 50px;
        padding-left: 15px;
    }

    .header__full_page2 {
        padding-left: 0px;
    }

    .block___text_pg2 {
        padding-left: 15px;
    }

    .grid_collum-pg5 {
        grid-template-columns: 1fr 1fr;
    }

}

@media (max-width: 555px) {
    .grid-block4-sec8-wrapped {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 505px) {
    .text_block4_pg3_1_tex1 {
        font-size: calc(17px + 28 * (100vw / 1200));
        line-height: normal;
    }

    .text_block2__pg3_block2 {
        font-size: calc(20px + 25 * (100vw / 1200));
        line-height: normal;
    }

    .text_pg3_one {
        font-size: calc(20px + 25 * (100vw / 1200));
        line-height: normal;
    }

    .text_block2__pg3_block3 {
        font-size: calc(10px + 10 * (100vw / 1200));
        line-height: normal;

    }

    .text_pg3_block4_text {
        font-size: calc(10px + 10 * (100vw / 1200));
        line-height: normal;
    }

    .main-text-pg2 {
        font-size: calc(20px + 25 * (100vw / 1200));
        line-height: normal;
    }

    .second-text-pg2 {
        font-size: calc(10px + 10 * (100vw / 1200));
        line-height: normal;
    }

    .text2-pg2-wrapperd {
        font-size: calc(10px + 10 * (100vw / 1200));
        line-height: normal;
    }

    .text_block4_pg3_1_tex2 {
        font-size: calc(10px + 10 * (100vw / 1200));
        line-height: normal;
    }

    .text_block4__pg3_stage2 {
        font-size: calc(10px + 10 * (100vw / 1200));
        line-height: normal;
    }

    .text__block__2_pg2 {
        font-size: calc(10px + 10 * (100vw / 1200));
        line-height: normal;
    }

    .header_text_pg4_top {
        font-size: calc(20px + 25 * (100vw / 1200));
        line-height: normal;
    }

    .text1-onpg4-block {
        font-size: calc(20px + 25 * (100vw / 1200));
        line-height: normal;
    }

    .text1-onpg4-block2-two {
        font-size: calc(20px + 25 * (100vw / 1200));
        line-height: normal;
    }

    .text1-onpg4-block2-four {
        font-size: calc(20px + 25 * (100vw / 1200));
        line-height: normal;
    }

    .text2-on_pg4_not-wrapped {
        font-size: calc(10px + 10 * (100vw / 1200));
        line-height: normal;
    }

    .text1-onpg4-block2-theer {
        font-size: calc(10px + 10 * (100vw / 1200));
        line-height: normal;
    }

    .text1-onpg4-block2-five {
        font-size: calc(10px + 10 * (100vw / 1200));
        line-height: normal;
    }

    .head-title-pg5-text {
        font-size: calc(20px + 25 * (100vw / 1200));
        line-height: normal;
    }

    .description-head-pgt-text {
        font-size: calc(10px + 10 * (100vw / 1200));
        line-height: normal;
    }

    .div-text_on_grid1 {
        font-size: calc(10px + 10 * (100vw / 1200));
        line-height: normal;

    }

    .title_text_sec6 {
        font-size: calc(20px + 25 * (100vw / 1200));
        line-height: normal;
    }

    .title_text-sec_block2_fiv {
        font-size: calc(20px + 25 * (100vw / 1200));
        line-height: normal;
    }

    .desc-text-sec6_block2 {
        font-size: calc(17px + 7 * (100vw / 1200));
    }

    .second-desc-text-sec6-block2 {
        font-size: calc(10px + 10 * (100vw / 1200));
        line-height: normal;
    }

    .grid_pack_blocks_and_text {
        font-size: calc(10px + 10 * (100vw / 1200));
        line-height: normal;
        height: 275px;

    }

    .title_text_on-grid-sec6 {
        font-size: calc(10px + 10 * (100vw / 1200));
        line-height: normal;

    }

    .description_text_grion_sec6 {
        font-size: calc(10px + 10 * (100vw / 1200));
        line-height: normal;
    }

    .description_text_sec6 {
        font-size: calc(10px + 10 * (100vw / 1200));
        line-height: normal;
    }

    .wrapped-description-sec7 {
        font-size: calc(20px + 25 * (100vw / 1200));
        line-height: normal;

    }

    .description-text-sec7-dectr {
        font-size: calc(10px + 10 * (100vw / 1200));
        line-height: normal;

    }

    .title-text-sec7-top {
        font-size: calc(20px + 25 * (100vw / 1200));
        line-height: normal;
    }

    .header-sec7-grid-text {
        font-size: calc(10px + 10 * (100vw / 1200));
        line-height: normal;
    }

    .desciption-text-sec7-grid-text {
        font-size: calc(10px + 10 * (100vw / 1200));
        line-height: normal;
    }

    .decrpt-text-on-block2-sec7 {
        font-size: calc(20px + 25 * (100vw / 1200));
        line-height: normal;
    }

    .description-sec7-team-connext {
        font-size: calc(20px + 25 * (100vw / 1200));
        line-height: normal;
    }

    .img-team-class-obl {
        width: 70%;
    }

    .div-text_on_grid1 {
        font-weight: 900;
    }

    .img-resolution-chain {
        width: 65%;
    }

    .title-text-sec7-blockteam {
        font-size: calc(10px + 10 * (100vw / 1200));
        line-height: normal;
    }

    .description-text-sec7-blockteam {
        font-size: calc(10px + 10 * (100vw / 1200));
        line-height: normal;
    }

    .block-fro-text-pg5 {
        padding-top: 60px;
    }

    .title_header_text-sec8 {
        font-size: calc(20px + 25 * (100vw / 1200));
        line-height: normal;
    }

    .title-text-block2-sec8 {
        font-size: calc(20px + 25 * (100vw / 1200));
        line-height: normal;
    }

    .descpt-text-block3-sec8 {
        font-size: calc(20px + 25 * (100vw / 1200));
        line-height: normal;
    }

    .title-text-sec8-block5 {
        font-size: calc(20px + 25 * (100vw / 1200));
        line-height: normal;
    }

    .text-sec8-block1-left {
        font-size: calc(10px + 10 * (100vw / 1200));
        line-height: normal;
    }

    .title-text-block3-sec8 {
        font-size: calc(10px + 10 * (100vw / 1200));
        line-height: normal;
    }

    .descrpt-text-sec8-block5 {
        font-size: calc(10px + 10 * (100vw / 1200));
        line-height: normal;
    }

    .text-div-grid-sec8-block3 {
        font-size: calc(10px + 6 * (100vw / 1200));
        line-height: normal;
    }

    .title-text-grid2-sec9 {
        font-size: calc(10px + 6 * (100vw / 1200));
        line-height: normal;
    }

    .descrpt-text-grid2-sec9 {
        font-size: calc(10px + 6 * (100vw / 1200));
        line-height: normal;
    }

    .backer-size-changer {
        width: 70%;
    }

    .grid-block4-sec8-wrapped {
        grid-row-gap: 30px;
    }

    .grid2-block9-sec8 {
        padding-top: 30px;
    }

    .header_sec8_core {
        min-height: auto;
    }

    .grid_collum-pg5 {
        grid-column-gap: 30px;

    }

    .grid-block-main-div {
        justify-content: center;

    }

    .main-text {
        font-size: calc(20px + 35 * (100vw / 1200));
        padding-right: 15px;
        padding-left: 10px;

    }

    .header_middle {
        padding-left: 0px;
    }

    .decord-text2-con {
        font-size: calc(20px + 35 * (100vw / 1200));
    }

    .second-text {
        font-size: calc(10px + 10 * (100vw / 1200));
        line-height: normal;
    }

    .text_on_button-pg1 {
        font-size: calc(10px + 17 * (100vw / 1200));
        line-height: normal;
        align-items: center;
        font-weight: 700;
    }

    .core-div-block-button-pg1 {
        padding-top: 105px;
        display: flex;
        justify-content: center;

    }

    .button_bottom_pg1 {
        width: 151px;
        height: 53px;
    }

    .header_top {
        padding-right: 0px;
    }

    .section1 {
        min-height: 760px;
    }

}

@media (max-width: 485px) {


    .decord-text2-con {
        font-size: 30px;
    }


    .block-decor {
        width: 100%;
        height: 370px;
    }


}

@media (max-width: 480px) {}

@media (max-width: 350px) {
    .grid-block-main-div {
        justify-content: center;
    }
}

@media (max-width: 345px) {
    .block-decor {
        top: 45%;
    }
}